//
//  PROD.xcconfig
//  Runner
//
//  Created by Sahana Dhanraj on 07/06/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-prod.xcconfig"
#include "Generated.xcconfig"

FLUTTER_TARGET=lib/main_prod.dart
