//
//  UAT.xcconfig
//  Runner
//
//  Created by Sahana Dhanraj on 05/04/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-uat.xcconfig"
#include "Generated.xcconfig"

FLUTTER_TARGET=lib/main_uat.dart
