<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204405594938-9m7sj8u956ubhhd67cl510i74m57gvlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204405594938-9m7sj8u956ubhhd67cl510i74m57gvlt</string>
	<key>API_KEY</key>
	<string>AIzaSyAKSR0dY27WOfgmopx-tRbUdy72E7jATMs</string>
	<key>GCM_SENDER_ID</key>
	<string>204405594938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msf.acml.qa</string>
	<key>PROJECT_ID</key>
	<string>acml-27263</string>
	<key>STORAGE_BUCKET</key>
	<string>acml-27263.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204405594938:ios:2f84b7cce82ed6981c4e03</string>
</dict>
</plist>