<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>72779715789-j9jvpeic4ctcpt0p9nn13av2lbn9u2cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.72779715789-j9jvpeic4ctcpt0p9nn13av2lbn9u2cr</string>
	<key>API_KEY</key>
	<string>AIzaSyD2-N6AYj2_tUU-nUbaZGbyDIxKyUIe6gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>72779715789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msf.acml.dev</string>
	<key>PROJECT_ID</key>
	<string>acml-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>acml-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72779715789:ios:04e375e5a10ae362e00584</string>
</dict>
</plist>